a {padding: 4px; color:white}
li {padding-top: 4px; padding-bottom: 4px;}

.textgreen {background-color:  #035913;color: white}
.textblue {background-color: #0e1b5c;color:white}
.textturq {background-color: #39a196;color:white}
.textgrey {background-color: lightgrey}